<h1>Bienvenue !</h1>
<!-- image des produit ? -->
<h5>Nous sommes ravis de vous accueillir dans le monde Coach Me.</h5>
<p>Découvrez nos produits qui vont booster vos entrainements.</p>
<p>Pour accéder à votre espace client, connectez-vous via : <%= @url %></p>
<p>Votre email : <%= @user.email %></p>
<!-- 
  TODO: LOGO E-coach-me ?
  TODO: mettre lien pour notre notre site coach-me
  ex. Besoin un coach ? " link "
-->